.top{  position: absolute;
	      right:50%;
	      left: 20%;
	      top: 0%;
	     }
.menu{ width:130px; 
	      background-color:#3D3D3D; 
	      position: absolute;
	      right:71.42%;
	     } 
.menu1{ width:890px; 
	       margin:190px auto 0px auto; 
	       background-color:#282828;
	     } 
 ul{ list-style-type:none; 
     margin: 0;
     padding: 0;
     overflow: hidden; 
     } 
 li{ float:left; 
 	 line-height:40px;
 	 width:147.9px; 
 	 text-align:center; 
 	   } 
 li a{ 
      color:#FFFFFF; 
      text-decoration:none; 
      text-transform: uppercase;
      padding: 5PX;
      text-align: center;
      display: block;
      width:151px; 
      height:40px; 
      font-family:"Times New Roman",Georgia,Serif;  
      } 
 li a:hover{ background-color:#707070;} 
div.black1{
            position: absolute;right:50%;left: 20%;top: 33.6%;
          }
body {background-image: url(../image/猫爪3.jpg);
background-repeat:repeat; }  
div.music{
            position: absolute;
            top: 70%;
            left:10%; 
} 
div.music1{
            position: absolute;
            top: 78%;
            left:10%; 
} 
div.image{
            position: absolute;
            top: 11.5%;
            left:9.6%; 
}   
div.topname{
           position: absolute; 
           font-family: 微软雅黑;
           color: #FFFAF0;
           top:4%;
           left: 10%;
         }
div.list{
           width:400px;
           height:100px;
           position:absolute;
           font-family: 微软雅黑;
           color: #FFFAF0;
           top: 4%;
           left: 109%;
}
div.Listen{
           position: absolute;
           font-family: 微软雅黑;
           color: #FFFAF0;
           top:64%;
           left: 10%;
} 
div.music2{
            position: absolute;
            top: 86%;
            left:10%; 
}  
div.download{
              position: absolute;
              top: 71%;
              left: 110%;
}   
div.num{
         position: absolute;
         font-family: 微软雅黑;
         color: #FFFAF0;
         top: 80%;
         left: 120%;
         width: 120px;

}  